.container {
    margin-top: 280px;
}

.container1 {
    margin-left: 80px;
    display: flex;
    flex-direction: column;
}

.img1 {
    width: 275px;
    height: 19px;
}

.img2 {
    width: 900px;
    height: 32px;
    margin-top: 20px;
}

.img3 {
    width: 640px;
    height: 15px;
    margin-top: 18px;
}

.container2 {
    margin-left: 75px;
    background-color: #171717;
}

.container2 button {
    background-color: #171717;
    color: #fff;
    border-radius: 20px;
    border-color: #fff;
    border-width: 1px;
    height: 50px;
    width: 310px;
    align-items: center;
    margin-top: 45px;
    font-size: 22px;
    letter-spacing: 2px;
    word-spacing: 8px;
    cursor: pointer;
}