.footerContainer {
    background-color: black;
    height: 430px;
    border-top-left-radius: 85px;  
    border-top-right-radius: 85px; 
}

.footer {
    margin-left: 120px;
    margin-right: 300px;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
}

.copyright {
    margin-left: 120px;
    margin-top: 65px;
    font-size: 14px;
    letter-spacing: 1px;
}