.verticalLine {
    display: flex;
    margin-left: 10px;
    margin-right: 20px;
}

.vl {
    height: 110px;
    border-left: 1px solid rgb(182, 176, 176);
    margin-right: 25px;
    margin-bottom: -35px;
    margin-top: 10px;
}

.barsImage {
    margin-top: -130px;
    height: 80px;
    width: 100px;
}