.risingArrow {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.risingArrow1 {
    margin-top: 12px;
    height: 100px;
}

.risingArrow2 {
    margin-top: -65px;
    height: 100px;
}