#navbar__ {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    z-index: 200;
    background-color: #171717;
}

.navbar__1 {
    margin-left: 800px;
    margin-top: 30px;
}

.navbar__li {
    list-style: none;
    float: left;
    margin-right: 50px;
    font-size: 16px;
}

.navbar__2 {
    margin-top: 30px;
}

.navbar__li2 {
    list-style: none;
    float: left;
    margin-right: 50px;
    font-size: 16px;
    font-weight: 700;
}

.navbar__li2 .navbar__btn {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    margin-top: -9px;
    padding: 10px 35px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid #fff;
}
