.contain {
    display: flex;
    margin-left: 100px;
}


.contain1 .number {
    font-size: 100px;
}

.contain1 .dotImage {
    height: 12px;
    width: 12px;  
}

.contain2 {
    margin-left: 35px;
    line-height: 200%;
}

.contain2 h3 {
    margin-top: 53px;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 17px;
}

.contain2 .para {
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 14px;
}