.box {
    margin-top: 130px;
}

.box h1 {
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 5px;
    text-align: center;
    margin-bottom: 18px;
}

.box .p {
    margin-bottom: 75px;
}

.box p {
    text-align: center;
    margin-left: 90px;
    margin-right: 90px;
    letter-spacing: 1.5px;
    line-height: 160%;
    font-size: 21px;
    word-spacing: 3.5px;
}