* {
  margin: 0;
  padding: 0;
}

.App__1 {
  margin-top: 1450px;
}

.App__right {
  margin-top: -1320px;
}

.description__ {
  display: flex;
  flex-direction: column;
}

.description__1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 120px;
  margin-right: 120px;
}

.description__1:first-child {
  margin-bottom: 80px;
}

.description__box {
  display: flex;
}

.description__1:last-child {
  margin-right: 137px;
}

.description__1s {
  display: flex;
  flex-direction: row;
  margin-left: 130px;
  margin-right: 130px;
  justify-content: space-between;
}

.description__1s:first-child {
  margin-bottom: 80px;
}

.description__1s:last-child {
  margin-left: 530px;
}

body {
  background-color: #171717;
  color: #fff;
}

.App__image {
  margin-left: 80px;
  margin-top: 250px;
  margin-bottom: 20px;
  height: 35px;
  width: 750px;
}

.readMore {
  margin-top: 35px;
  letter-spacing: 2px;
  word-spacing: 4px;
}

.readMore span {
  border-bottom: 1px solid #fff;
  width: fit-content;
}

.readMore__ {
  margin-top: 56px;
  letter-spacing: 2px;
  word-spacing: 4px;
}

.readMore__ span {
  border-bottom: 1px solid #fff;
  width: fit-content;
}